#search_basic.search_box
  - form_for @search, :url => actions_path, :html => {:method => :get} do |f|
    Search Term:
    = text_field_tag :q, @search.q, :size => 22, :id => 'q_basic'
    Created:
    = select_tag :created, options_for_select(options_for_created_select, @search.created)
    Order:
    = select_tag :order, options_for_select(options_for_order_select, @search.order)
    &nbsp;
    = submit_tag 'Search'
  = link_to_function('Advanced...', '$("#q_advanced").val($("#q_basic").val()); $("#search_advanced").toggle(); $("#search_basic").toggle();')

#search_advanced.search_box{:style => 'display: none;'}
  #firstrow
    %h2 Find an Action
    = link_to_function('Basic search...', '$("#q_basic").val($("#q_advanced").val()); $("#search_advanced").toggle(); $("#search_basic").toggle();')

  - form_for @search, :url => actions_path, :html => {:method => :get} do |f|

    %table{ :border=>"0", :cellpadding=>"0", :cellspacing=>"0" }
      %tr.first
        %td Search Term:
        %td= text_field_tag :q, @search.q, {:size => 22, :id => 'q_advanced'}
        
        %td
          = submit_tag 'Search'
          &nbsp;
          = submit_tag 'Google Map', :onclick => "$('#new_search').attr('action', '#{map_index_path}')", :disabled => true
      %tr
        %td Type of Action:
        %td= select_tag :action_types, options_for_select(options_for_action_type_select('All actions'), @search.action_types)
        %td
          Order:
          = select_tag :order, options_for_select(options_for_order_select, @search.order)
          Created:
          = select_tag :created, options_for_select(options_for_created_select, @search.created)
    = check_box_tag 'select_all_sites', '1', true, :id => 'select_all_sites' 
    %b
      Select/Unselect all
    %br{:clear => 'all'}
    - Site.find(:all, :order => :name, :conditions => {:disabled => false}).each_slice(5) do |sites|
      .platform_select
        - sites.each do |site|
          = check_box_tag 'sites[]', site.id, @search.has_site?(site), :class => 'check', :id => 'sites'
          = site.name
          %br/
          
  %br{:clear => 'all'}
  
