<h1>API Keys</h1>

<%= link_to 'New API Key', new_api_key_path %>
<br/>
<table cellpadding='5'>
  <tr>
    <th>Name</th>
    <th>Host domain</th>
    <th>Key</th>
  </tr>

<% for api_key in @api_keys %>
  <tr>
    <td><%=h api_key.name %></td>
    <td><%=h api_key.host_domain %></td>
    <td><%=h api_key.key %></td>
    <td><%= link_to 'Edit', edit_api_key_path(api_key) %></td>
    <td><%= link_to 'Destroy', api_key, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New API Key', new_api_key_path %>
