<h1>New API Key</h1>

<%= error_messages_for :api_key %>

<% form_for(@api_key) do |f| %>
  <p>
		<%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
		<%= f.label :host_domain %><br />
    <%= f.text_field :host_domain %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Index', api_keys_path %>
