<h1>Feeds / APIs</h1>

<%= link_to 'New Feed/API . . .', new_action_source_path %>
<table cellpadding="3">
  <tr>
  	<td align="left"><strong>Action Source</strong></th>
    <td colspan="2" align="left"><strong>Feed / API</strong></th>
  </tr>

<% for action_source in @action_sources %>
  <tr>
  	<td><%= action_source.site.name %></td>
    <td><%= link_to action_source.name, edit_action_source_path(action_source) %></td>
	<% if action_source.disabled %>
	  <td><%= link_to 'Enable', { :action => 'enable', :id => action_source.id }, :confirm => 'Are you sure?', :style => "color: red;" %></td>
	<% else %>
      <td><%= link_to 'Disable', action_source, :confirm => 'Are you sure?', :method => :delete %></td>
	<% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Feed/API . . .', new_action_source_path %>
