<h1>Listing Action Source</h1>

<%= link_to 'New Action Source', new_site_path %>
<table cellpadding="3">
  <tr>
  	<td><strong>Name</strong></td>
  </tr>

<% for site in @sites %>
  <tr>
    <td><%= link_to site.name, edit_site_path(site) %></td>
	<% if site.disabled %>
	  <td><%= link_to 'Enable', { :action => 'enable', :id => site.id }, :confirm => 'Are you sure?', :style => "color: red;" %></td>
	<% else %>
      <td><%= link_to 'Disable', site, :confirm => 'Are you sure?', :method => :delete %></td>
	<% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Action Source', new_site_path %>
