    <a name="top" id="navigation-top"></a>
    <div id="skip-to-nav"><a href="#navigation">Skip to Navigation</a></div>

    <div id="header"><div id="header-inner" class="clear-block">
   
              <div id="logo-title">

                      <div id="logo"><a href="<%= request.protocol %>socialactions.com/welcome" title="Home" rel="home"><img src="<%= request.protocol %>socialactions.com/images/socialactions-logo-plain.gif" alt="Home" id="logo-image" /></a></div>
          
        </div> <!-- /#logo-title -->
      
      
    </div>
	  <% if logged_in? -%>
	  <div id="admin-nav">
	  	<%= link_to 'Actions', :controller => 'actions', :action => 'index' %> |
		<%= link_to 'Only Blacklisted Actions', :controller => 'actions', :action => 'index', :show_only_blacklist => 'true' %> |
	    <%= link_to 'Action Sources', :controller => 'action_sources', :action => 'index' %> |
		<%= link_to 'Action Types', :controller => 'action_types', :action => 'index' %> |
		<%= link_to 'Sites', :controller => 'sites', :action => 'index' %> |
		<%= link_to 'API Keys', :controller => 'api_keys', :action => 'index' %> |
		<%= link_to 'Logout', login_path, :method => 'delete' %>
	  </div>
	  <% end -%>
	</div> <!-- /#header-inner, /#header -->
