!!! 1.0

%html{"xmlns"=>"http://www.w3.org/1999/xhtml", "xml:lang"=>"en"}
  %head
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}/
    %title  Social Actions | Find Social Actions. Create Social Change.
    %link{ :rel => 'alternate', :type => 'application/atom+xml', :title => "Social Actions: Results for #{@search.to_s}", :href => feed_url }
    = stylesheet_link_tag 'main', 'facebox'
    = stylesheet_link_tag 'http://socialactions.com/sites/all/themes/social-actions/social-actions-fixed/style.css'
    = javascript_include_tag 'jquery', 'facebox', 'application'
    = yield :map_headers
    %style{:type => 'text/css'}
      body {
      background-image: url(http://socialactions.com/images/social-actions-2ndlevel-bg.gif);			
      background-repeat:repeat-x;
      }

  %body.sidebar-left{ map_loader }
    #page
      = render :partial => 'layouts/header'
    
      #container.clear-block
        #sidebar-left.column.sidebar
          %p= link_to('Are you reading the Social Actions blog?', 'http://blog.socialactions.com/')
          %p= link_to image_tag('ca_get_alerts.gif'), "http://www.cellalert.net/RSS?id=1&created=#{URI.encode(params[:created] || '')}&limit=#{URI.encode(params[:limit] || '')}&x=#{URI.encode(params[:q] || '')}"
        #main.column
          #squeeze
            = yield
    
      = render :partial => 'layouts/footer'
