!!! 1.0

%html{"xmlns"=>"http://www.w3.org/1999/xhtml", "xml:lang"=>"en"}
  %head
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}/
    %title  Social Actions | Find Social Actions. Create Social Change.
    %link{ :rel => 'alternate', :type => 'application/atom+xml', :title => "Social Actions: Results for #{@search.to_s}", :href => feed_url }
    = stylesheet_link_tag 'main'
    = stylesheet_link_tag 'http://socialactions.com/sites/all/themes/zen/socialactions/socialactions.css'
    = stylesheet_link_tag 'http://socialactions.com/sites/all/themes/zen/socialactions/layout.css'
    = stylesheet_link_tag 'http://socialactions.com/modules/system/defaults.css'
    = javascript_include_tag 'jquery', 'application'
    = yield :map_headers

  %body.no-sidebars
    #page
      #page-inner
        = render :partial => 'layouts/header'

        #main
          #main-inner.clear-block.with-navbar
            #content
              #content-inner
                = yield
    
        #footer
          #footer-inner
            #footer-message
              #block-block-21.block.block-block.region-odd.odd.region-count-1.count-1
                .block-inner
                  .content
                    = render :partial => 'layouts/footer'
